<form #form="ngForm">
  <div class="form-group">

    <input type="hidden" name="Id" [(ngModel)]="service.formData.Id">
    
    <input required minlength="1" type="text" name="First Name" #FirstName="ngModel" [(ngModel)]="service.formData.FirstName" class="form-control" placeholder="First Name">
    <div *ngIf="FirstName.touched && FirstName.invalid" class="alert alert-danger mt-2">First Name is required.</div>
    <br>
    <input required minlength="1" type="text" name="Last Name" #LastName="ngModel" [(ngModel)]="service.formData.LastName" class="form-control" placeholder="Last Name">
    <div *ngIf="LastName.touched && LastName.invalid" class="alert alert-danger mt-2">Last Name is required.</div>
    <br>
    <input required minlength="1" type="Date" name="Date" #Date="ngModel" [(ngModel)]="service.formData.BirthDate" class="form-control" placeholder="yyyy/mm/dd">
    <div *ngIf="Date.touched && Date.invalid" class="alert alert-danger mt-2">Birth Date is required.</div>
    <br>
    <button class="btn btn-success" (click)="onSubmit(form)"><span *ngIf="service.formData.Id == 0">Add</span><span *ngIf="service.formData.Id != 0">Update</span></button>
    <button class="btn btn-danger float-right" (click)="closeDialog()" >Close</button>

  </div>
</form>



