.add-button{
    background-color: lightgrey;
    border-radius: 50%;
    float: right;
    margin-right:5%;
    font-size: 50px;
    padding:0 20px;
    box-shadow: 5px 5px 2.5px grey;
    padding-bottom:4px;
}

